# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Databases
*.db
*.sqlite3

# IDE / Editor
.vscode/
.idea/

# Node (Frontend)
node_modules/
dist/
build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
